<center>
	<a href="/"><%= image_tag "logo.png"  %></a>
	<table id="board">
		<tbody>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr id="buttonRow1" class="disabled">
				<td><button type="button"></button></td>
				<td><button type="button"></button></td>
				<td><button type="button"></button></td>
				<td><button type="button"></button></td>
				<td><button type="button"></button></td>
				<td><button type="button"></button></td>
				<td><button type="button"></button></td>
			</tr>
		</tbody>
	</table>
	<%= image_tag "cvc_id.png"  %>
	<div id="buttonMenu" style="margin-top: 30px;">
		<button type="button" onclick="putCircle_cvc()" style="background-image: url('/assets/startgame.png'); width: 183px; height: 43px;"></button>
	</div>
</center>