<center>
	<a href="/"><%= image_tag "logo.png"  %></a>
	<table id="board">
		<tbody>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr id="buttonRow1">
				<td><button type="button" onclick="putCircle_pvc(0)"></button></td>
				<td><button type="button" onclick="putCircle_pvc(1)"></button></td>
				<td><button type="button" onclick="putCircle_pvc(2)"></button></td>
				<td><button type="button" onclick="putCircle_pvc(3)"></button></td>
				<td><button type="button" onclick="putCircle_pvc(4)"></button></td>
				<td><button type="button" onclick="putCircle_pvc(5)"></button></td>
				<td><button type="button" onclick="putCircle_pvc(6)"></button></td>
			</tr>
		</tbody>
	</table>
	<%= image_tag "pvc_id.png"  %>
</center>