<center>
	<%= image_tag "logo.png"  %>
	<table id="buttonMenu">
		<tbody>
			<tr>
				<td><button type="button" onclick="location.href='/pvp'" style="background-image: url('/assets/pvp.png')"></button></td>
			</tr>
			<tr>
				<td><button type="button" onclick="location.href='/pvc'" style="background-image: url('/assets/pvc.png')"></button></td>
			</tr>
			<tr>
				<td><button type="button" onclick="location.href='/cvc'" style="background-image: url('/assets/cvc.png')"></button></td>
			</tr>
		</tbody>
	</table>
</center>