<center>
	<a href="/"><%= image_tag "logo.png"  %></a>
	<table id="board">
		<tbody>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>
			<tr id="buttonRow1">
				<td><button type="button" onclick="putCircle(0)"></button></td>
				<td><button type="button" onclick="putCircle(1)"></button></td>
				<td><button type="button" onclick="putCircle(2)"></button></td>
				<td><button type="button" onclick="putCircle(3)"></button></td>
				<td><button type="button" onclick="putCircle(4)"></button></td>
				<td><button type="button" onclick="putCircle(5)"></button></td>
				<td><button type="button" onclick="putCircle(6)"></button></td>
			</tr>
		</tbody>
	</table>
	<%= image_tag "pvp_id.png"  %>
</center>